<div class="section section-signup page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="card card-signup" data-background-color="orange" style="margin-top: 100px;">
                <form #regForm="ngForm" (ngSubmit)="onRegisterSubmit(regForm)" class="form" method="" action="">
                    <div class="header text-center">
                        <h4 class="title title-up">Sign Up</h4>
                        <div class="alert alert-danger" *ngIf="errSwitch" role="alert">{{ errMsg }}</div>
                        <div class="alert alert-success" *ngIf="succSwitch" role="alert">{{ succMsg }}</div>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input required name="fullName" id="fullName" #name="ngModel" ngModel type="text" class="form-control" placeholder="Name..." (focus)="focus=true" (blur)="focus=false" >
                      </div>
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input required name="userName" id="userName" #username="ngModel" ngModel type="text" class="form-control" placeholder="Username..." (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                        </div>
                          <input required name="email" id="email" #email="ngModel" ngModel type="email" class="form-control" placeholder="Email..." (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus2===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                        </div>
                          <input required name="password" id="password" #password="ngModel" ngModel type="password" class="form-control" placeholder="Password" (focus)="focus2=true" (blur)="focus2=false"/>
                      </div>
                        <!-- If you want to add a checkbox to this form, uncomment this code -->
                        <!-- <div class="checkbox">
        <input id="checkboxSignup" type="checkbox">
          <label for="checkboxSignup">
          Unchecked
          </label>
          </div> -->
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus2===true}">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
            </div>
            <select class="form-control" name="Type">
              <option value="Type" disabled ><b>Type</b></option>
              <option value="Buyer" style="color:black;">Buyer</option>
              <option value="Seller" style="color:black;">Seller</option>
            </select>
                    </div>
                    <div class="footer text-center">
                      <input type="submit" class="btn btn-neutral btn-round btn-lg" value="Submit" [disabled]="!regForm.valid || submitSwitch">
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
