<!-- approval -->
<div class="row" style="margin-top: 15px;">
  <div class="col-md-4" id="approval">
    <div class="card">
      <div class="card-header text-center bg-danger">
        <h4 class="card-title" style="color: white;">
              1. Product Approval
              <div class="ripple-container"></div>
            </h4>
      </div>
      <div class="card-body text-center" style="margin-bottom: -25px;">
        <p>List of products to be approved for bidding.</p>
        <p></p>
      </div>
      <div class="card-footer text-center">
        <hr />
        <button type="button" class="btn btn-danger btn-round" (click)="openapproval()">View Products.</button>
      </div>
    </div>
  </div>
<!-- delivery -->
    <div class="col-md-4" id="delivery">
      <div class="card">
        <div class="card-header text-center bg-danger">
          <h4 class="card-title" style="color: white;">
                2. Product Delivery
					      <div class="ripple-container"></div>
              </h4>
        </div>
        <div class="card-body text-center" style="margin-bottom: -25px;">
          <p>List of products to be delivered to buyers after bidding.</p>
          <p></p>
        </div>
        <div class="card-footer text-center">
          <hr />
          <button type="button" class="btn btn-danger btn-round" (click)="opendelivery()">View Products.</button>
        </div>
      </div>
    </div>
    </div>
