<div class="header-2">
    <div class="page-header page-header-small header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bg14.jpg');"></div>
        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h1 class="title">Product Delivery</h1>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
