<div class="wrapper">
  <div class="header-2">
    <div class="page-header page-header-small header-filter">
      <div class="page-header-image" style="background-image: url('assets/img/bg14.jpg');"></div>
      <div class="content-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h1 class="title">Bidding Products</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h4><small>Product Bid Table</small></h4>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-shopping">
                <thead class="">
                  <tr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <th>Product Name</th>&nbsp;&nbsp;&nbsp;
                    <th>Base Bid</th>&nbsp;&nbsp;&nbsp;
                    <th>Current Bid</th>&nbsp;&nbsp;
                    <th >Latest bid by:</th>&nbsp;&nbsp;&nbsp;

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="img-container">
                        <img src="assets/img/saint-laurent.jpg" alt="...">
                      </div>
                    </td>
                    <td >
                      <a href="#jacket">Suede Biker Jacket</a>
                      <br><small>by Saint Laurent</small>
                    </td>&nbsp;&nbsp;&nbsp;
                    <td>
                      Black
                    </td>&nbsp;&nbsp;&nbsp;
                    <td>
                      M
                    </td>&nbsp;&nbsp;&nbsp;
                    <td >
                      <small>€</small>3,390
                    </td>&nbsp;&nbsp;

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
