<div class="wrapper">
  <div class="header-2">
    <div class="page-header page-header-small header-filter">
      <div class="page-header-image" style="background-image: url('assets/img/bg14.jpg');"></div>
      <div class="content-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h1 class="title">Product Approval</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Products Waiting for Approval</h4>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-shopping">
                <thead class="">
                  <tr>

                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Base Price:</th>
                    <th>Last Bid by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <td>
                      <div class="img-container">
                        <img src="assets/img/saint-laurent.jpg" alt="...">
                      </div>
                    </td> -->
                    <td class="td-name">
                      Wheat

                    </td>
                    <td>
                      100
                    </td>
                    <td>
                      Rs. 4500
                    </td>
                    <td >
                      Rs. 7000 by Deep Makwana
                    </td>

                    <tr>
                      <!-- <td>
                        <div class="img-container">
                          <img src="assets/img/saint-laurent.jpg" alt="...">
                        </div>
                      </td> -->
                      <td class="td-name">
                        Sugar

                      </td>
                      <td>
                        70
                      </td>
                      <td>
                        Rs. 1200
                      </td>
                      <td >
                        Rs. 2200 by Deep Makwana
                      </td>
                    </tr>
                      <tr>
                        <!-- <td>
                          <div class="img-container">
                            <img src="assets/img/saint-laurent.jpg" alt="...">
                          </div>
                        </td> -->
                        <td class="td-name">
                          Potatoes

                        </td>
                        <td>
                          60
                        </td>
                        <td>
                          Rs. 600
                        </td>
                        <td >
                          Rs. 1500 by Chinmay Chaudhari
                        </td>
                        </tr>
                        <tr>
                          <!-- <td>
                            <div class="img-container">
                              <img src="assets/img/saint-laurent.jpg" alt="...">
                            </div>
                          </td> -->
                          <td class="td-name">
                            Beans

                          </td>
                          <td>
                            60
                          </td>
                          <td>
                            Rs. 2500
                          </td>
                          <td >
                            Rs. 5000 by Deepak Mahana
                          </td>
                          </tr>
                          <tr>
                            <!-- <td>
                              <div class="img-container">
                                <img src="assets/img/saint-laurent.jpg" alt="...">
                              </div>
                            </td> -->
                            <td class="td-name">
                              Wheat

                            </td>
                            <td>
                              50
                            </td>
                            <td>
                              Rs. 1500
                            </td>
                            <td >
                              Rs. 2000 by Deep Makwana
                            </td>
                            </tr>
                            <tr>
                              <!-- <td>
                                <div class="img-container">
                                  <img src="assets/img/saint-laurent.jpg" alt="...">
                                </div>
                              </td> -->
                              <td class="td-name">
                                Brown Rice

                              </td>
                              <td>
                                30
                              </td>
                              <td>
                                Rs. 800
                              </td>
                              <td >
                                Rs. 1500 by Chinmay Chaudhari
                              </td>
                              </tr>
                              <tr>
                                <!-- <td>
                                  <div class="img-container">
                                    <img src="assets/img/saint-laurent.jpg" alt="...">
                                  </div>
                                </td> -->
                                <td class="td-name">
                                  Watermellon

                                </td>
                                <td>
                                  20
                                </td>
                                <td>
                                  Rs. 30
                                </td>
                                <td >
                                  Rs. 800 by Pushkaraj Joshi
                                </td>
                                </tr>
                                <tr>
                                  <!-- <td>
                                    <div class="img-container">
                                      <img src="assets/img/saint-laurent.jpg" alt="...">
                                    </div>
                                  </td> -->
                                  <td class="td-name">
                                    Carrot

                                  </td>
                                  <td>
                                    20
                                  </td>
                                  <td>
                                    Rs. 40
                                  </td>
                                  <td >
                                    Rs. 700 by Deepak Mahana
                                  </td>
                                  </tr>
                                  <tr>
                                    <!-- <td>
                                      <div class="img-container">
                                        <img src="assets/img/saint-laurent.jpg" alt="...">
                                      </div>
                                    </td> -->
                                    <td class="td-name">
                                      Lady's Finger

                                    </td>
                                    <td>
                                      30
                                    </td>
                                    <td>
                                      Rs. 80
                                    </td>
                                    <td >
                                      Rs. 1500 by Chinmay Chaudhari
                                    </td>
                                    </tr>
                                    <tr>
                                      <!-- <td>
                                        <div class="img-container">
                                          <img src="assets/img/saint-laurent.jpg" alt="...">
                                        </div>
                                      </td> -->
                                      <td class="td-name">
                                        Cabbage

                                      </td>
                                      <td>
                                        20
                                      </td>
                                      <td>
                                        Rs. 50
                                      </td>
                                      <td >
                                        Rs. 2000 by Deep Makwana
                                      </td>
                                      <</tr>
                                      <tr>
                                        <!-- <td>
                                          <div class="img-container">
                                            <img src="assets/img/saint-laurent.jpg" alt="...">
                                          </div>
                                        </td> -->
                                        <td class="td-name">
                                          Bajra

                                        </td>
                                        <td>
                                          125
                                        </td>
                                        <td>
                                          Rs. 4000
                                        </td>
                                        <td >
                                          Rs. 8000 by Pushkaraj Joshi
                                        </td>
                                        </tr>
                                        <tr>
                                          <!-- <td>
                                            <div class="img-container">
                                              <img src="assets/img/saint-laurent.jpg" alt="...">
                                            </div>
                                          </td> -->
                                          <td class="td-name">
                                            Jowar

                                          </td>
                                          <td>
                                            120
                                          </td>
                                          <td>
                                            Rs. 3000
                                          </td>
                                          <td >
                                            Rs. 5500 by Chinmay Chaudhari
                                          </td>
                                          </tr>
                                          <tr>
                                            <!-- <td>
                                              <div class="img-container">
                                                <img src="assets/img/saint-laurent.jpg" alt="...">
                                              </div>
                                            </td> -->
                                            <td class="td-name">
                                              Rice

                                            </td>
                                            <td>
                                              80
                                            </td>
                                            <td>
                                              Rs. 4000
                                            </td>
                                            <td >
                                              Rs. 8000 by Deepak Mahana
                                            </td>
                                          </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
