<div class="wrapper">
  <div class="header-2">
    <div class="page-header page-header-small header-filter">
      <div class="page-header-image" style="background-image: url('assets/img/bg14.jpg');"></div>
      <div class="content-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h1 class="title">Product Approval</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Products Waiting for Approval</h4>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-shopping">
                <thead class="">
                  <tr>

                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Base Price:</th>
                    <th>Last Bid by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rfp of rfps; let i = index">

                    <td class="text-center">{{ rfp.proName }}</td>
                    <td class="text-center">{{ rfp.quantity }}</td>
                    <td class="text-center">{{ rfp.basePrice }}</td>
                    <td class="text-center">{{ rfp.bidders[].bidPrice }}</td>
                    <td class="td-actions text-center">
                      <button class="btn btn-info btn-link" placement="left" ngbTooltip="View Profile" (click)="open(content, app)">
                        <i class="nc-icon lg nc-single-02"></i>
                      </button>
                      <button class="btn btn-success btn-link" ngbTooltip="Accept Application">
                        <i class="nc-icon lg nc-check-2"></i>
                      </button>
                      <button class="btn btn-danger btn-link" placement="right" ngbTooltip="Reject Application">
                        <i class="nc-icon lg nc-simple-remove"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
